<%= simple_form_for(@cliente) do |f| %>

  <div class="row">
    <div class="col-sm-5 col-md-6">
      <%= f.input :nome, label: 'Nome', input_html: { class: 'input-lg' } %>
    </div>
    <div class="col-sm-5 col-md-4">
      <%= input_group(f, :email, label: 'email', icon: :envelope) %>
    </div>
    <div class="col-sm-2 col-md-2">
      <%= f.input :aniversario, label: "Aniversário", placeholder: 'dd/mm' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <%= input_group(f, :fone_cel, label: 'Celular', icon: :phone) %>
    </div>
    <div class="col-sm-4">
      <%= input_group(f, :fone_res, label: 'Fone Residencial', icon: :phone_alt) %>
    </div>
    <div class="col-sm-4">
      <%= input_group(f, :fone_com, label: 'Fone Comercial', icon: :phone_alt) %>
    </div>
    <div class="col-sm-6">
      <%= f.input :endereco, label: 'Endereco' %>
    </div>
    <div class="col-sm-4">
      <%= f.input :bairro, label: 'Bairro' %>
    </div>
    <div class="col-sm-2">
      <%= f.input :cep, label: 'CEP' %>
    </div>
    <div class="col-sm-4">
      <%= f.input :cidade, label: 'Cidade' %>
    </div>
    <div class="col-sm-2">
      <%= f.input :uf, label: 'UF' %>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-12">
      <%= f.input :obs, label: 'Obs' %>
    </div>

  </div>

  <%= f.button :submit, 'Salvar Cliente', class: 'btn btn-primary' %>

  <%= link_to icon(:trash, 'Apagar este Cliente'), 
        @cliente, 
        method: :delete, 
        data: { confirm: 'Tem certeza?' }, 
        class: 'btn btn-sm text-danger pull-right' unless @cliente.new_record? %>

<% end %>
