<%= simple_form_for [@compra, @registro || Registro.new], remote: true do |f| %>

  <div class="row">

    <div class="col-sm-5">
      <%= f.input :data %>
    </div>
    <div class="col-sm-7">
      <%= currency_group(f, :valor) %>
    </div>

  </div>

  <%= f.association :conta, label_method: :nome %>

  <div class="panel-actions pull-right">
    <%= f.submit 'Salvar', class: 'btn btn-xs btn-primary' %>
  </div>

<% end -%>
