<%= simple_form_for [@venda, @registro || Registro.new], remote: true do |f| %>

  <div class="row">

    <div class="col-sm-5">
      <%= f.input :data %>
    </div>
    <div class="col-sm-7">
      <%= input_group(f, :valor, icon: :usd) %>
    </div>

  </div>

  <%= f.association :forma, label_method: :nome, label: 'Forma de Pagamento' %>

  <div class="panel-actions pull-right">
    <%= f.submit 'Salvar', class: 'btn btn-xs btn-primary' %>
  </div>

<% end -%>
