<%= page_header "Sacola ##{@sacola.id}" do %>
  <%= link_to icon(:chevron_left, "Voltar"), sacolas_path, class: 'btn' %>
  <%= link_to icon(:edit, 'Editar Sacola'), edit_sacola_path(@sacola), class: 'btn btn-sm btn-primary' %>
<% end %>

<div class="well well-sm show">

  <div class="row">

    <div class="col-sm-5 big">
      <%= @sacola.nome %>
      <small><%= l @sacola.created_at.to_date, format: :medium %></small>
    </div>

    <div class="col-sm-3 col-xs-4 big">
      <span id="sacola_itens_count"><%= @sacola.itens.incluidos.count %></span> <small>peças</small>
    </div>

    <div class="col-sm-4 col-xs-4 big">
      <span id="sacola_itens_total"><%= number_to_currency @sacola.total %></span> <small>total</small>
    </div>

  </div>

</div>

<div class="row">

  <div class="col-md-7">

    <div class="panel panel-info">
      <div class="panel-heading">
        <b class="panel-title">Peças Incluídas</b>

        <%= form_tag(sacola_itens_path(@sacola), remote: true ) do %>
          <%= text_field_tag :barcode, 
                              nil, 
                              maxlength: 10, 
                              class: 'pull-right bar-code-input', 
                              placeholder: "incluir aqui" %>
        <%- end -%>

      </div>

      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Cód.</th>
            <th>Produto</th>
            <th>Cor</th>
            <th>Tam.</th>
            <th class="text-right">Valor</th>
            <th>&nbsp;</th>
          </tr>               
        </thead>
        <tbody id="itens_sacola_table">
          <%= render partial: 'itens_sacola/item', collection: @sacola.itens.incluidos %>
        </tbody>
      </table>
    </div>

  </div>

  <div class="col-md-5 col-sm-8">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <b class="panel-title">Peças Devolvidas</b>

        <%= form_tag(devolver_sacola_itens_path(@sacola), remote: true ) do %>
          <%= text_field_tag :barcode_d, 
                              nil, 
                              maxlength: 10, 
                              class: 'pull-right bar-code-input', 
                              placeholder: "devolver aqui" %>
        <%- end -%>

      </div>

      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Cód.</th>
            <th>Produto</th>
            <th>Cor</th>
            <th>Tam.</th>
            <th>&nbsp;</th>
          </tr>               
        </thead>
        <tbody id="itens_sacola_dev_table">
          <%= render partial: 'itens_sacola/item_devolvido', collection: @sacola.itens.devolvidos, as: 'item' %>
        </tbody>
      </table>
    </div>
  </div>

</div>

<audio src="<%= asset_path('beep.mp3') %>" id="sound"></audio>

<div class="modal fade" id="item_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
        <h2 class="text-center text-info"   id="modal_ref"></h2>
        <h2 class="text-center text-danger" id="modal_cor"></h2>
        <h2 class="text-center text-danger" id="modal_tam"></h2>
        <br/>
      </div>

    </div>
  </div>
</div>