<%= simple_form_for(@fornecedor) do |f| %>

  <div class="row">
    <div class="col-sm-8 ">
      <%= f.input :nome, label: 'Nome', input_html: { class: 'input-lg' } %>
    </div>
    <div class="col-sm-4">
      <%= f.input :cnpj, label: 'CNPJ' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <%= input_group(f, :email, label: 'email', icon: :envelope) %>
    </div>
    <div class="col-sm-4">
      <%= f.input :website, label: "Site" %>
    </div>
    <div class="col-sm-4">
      <%= input_group(f, :fone, label: 'Fone', icon: :phone) %>
    </div>


    <div class="col-sm-6">
      <%= f.input :endereco, label: 'Endereco' %>
    </div>
    <div class="col-sm-4">
      <%= f.input :bairro, label: 'Bairro' %>
    </div>
    <div class="col-sm-2">
      <%= f.input :cep, label: 'CEP' %>
    </div>
    <div class="col-sm-4">
      <%= f.input :cidade, label: 'Cidade' %>
    </div>
    <div class="col-sm-2">
      <%= f.input :uf, label: 'UF' %>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-12">
      <%= f.input :obs, label: 'Obs' %>
    </div>

  </div>

  <div class="bottom-actions">
    <%= f.button :submit, 'Salvar Fornecedor', class: 'btn btn-primary' %>

    <% unless @fornecedor.new_record?  %>

    <% if @fornecedor.arquivado? %>
      <%= link_to icon(:folder_close, 'Desarquivar este Fornecedor'),
          arquivar_fornecedor_path(@fornecedor, desarquivar: true),
          method: :post,
          data: { confirm: 'Tem certeza?' },
          class: 'btn btn-sm text-success pull-right' %>
    <% else %>
      <%= link_to icon(:folder_open, ' Arquivar este Fornecedor'),
          arquivar_fornecedor_path(@fornecedor),
          method: :post,
          data: { confirm: 'Tem certeza?' },
          class: 'btn btn-sm text-info pull-right' %>
    <% end %>

    <%= link_to icon(:trash, 'Apagar este Fornecedor'),
          @fornecedor,
          method: :delete,
          data: { confirm: 'Tem certeza?' },
          class: 'btn btn-sm text-danger pull-right'  %>

    <% end %>
  </div>

<% end %>
