<%= page_header "Produtos" %>

<div class="row">

  <div class="col-md-8">
    <table class="table table-hover table-striped table-condensed">
      <thead>
        <tr>
          <th>Ref</th>
          <th>Fornecedor</th>
          <th>Coleção</th>
        </tr>
      </thead>
      <tbody>
        <% @produtos.each do |produto| %>
          <tr>
            <td><%= link_to produto.ref, edit_produto_path(produto) %></td>
            <td><small><%= produto.fornecedor.try :nome %></small></td>
            <td><%= produto.colecao.try :descricao %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <p class="index_count"><span><%= @produtos.count %></span> produtos encontradas.</p>

    <%= link_to(icon(:plus, 'Novo Produto'), new_produto_path, class: 'btn btn-primary') %>
  
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Filtros</h3>
      </div>
      <div id="filtro_pedidos" class="panel-body">
        <%= simple_form_for @search, url: produtos_path, method: 'GET' do |f| %>

          <%= f.input :colecao_id_eq, label: 'Coleção', collection: Colecao.to_select %>
          <%= f.input :fornecedor_id_eq, label: 'Fornecedor', collection: Fornecedor.to_select %>
          <%= f.input :linha_id_eq, label: 'Linha', collection: Linha.to_select %>
          <%= f.input :tipo_id_eq, label: 'Tipo', collection: Tipo.to_select %>

          <%= f.input :ref_cont, label: "Ref" %>

          <%= f.submit 'Filtrar', class: 'btn btn-info' %>
          <%= button_tag 'Limpar', class: 'btn btn-default clear' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

