<%= page_header @produto.ref do %>
  <%= link_to icon(:chevron_left, "Voltar"), produtos_path, class: 'btn' %>
  <%= link_to icon(:edit, 'Editar Produto'), edit_produto_path(@produto), class: 'btn btn-primary btn-sm' %>
<% end %>


<div class="row">
  <div class="col-sm-6">
    <div class="well well-sm">

      <dl class="dl-horizontal form">

        <dt>Coleção</dt>
        <dd><%= @produto.colecao.try :descricao %></dd>

        <dt>Fornecedor</dt>
        <dd><%= @produto.fornecedor.try :nome %></dd>

        <dt>Linha</dt>
        <dd><%= @produto.linha.try :descricao %></dd>

        <dt>Tipo</dt>
        <dd><%= @produto.tipo.try :descricao %></dd>

      </dl>

    </div>
  </div>

  <div class="col-sm-6">

    <div class="well well-sm valores">
      <div class="row">
        <div class="col-sm-6">
          <div class="rotulo">Valor de Venda</div>
          <div class="valor text-success"><%= number_to_currency @produto.valor %></div>
        </div>
        <div class="col-sm-6">
          <div class="rotulo">Custo</div>
          <div class="valor text-danger"><%= number_to_currency @produto.custo %></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="rotulo">Lucro</div>
          <div class="valor text-info"><%= number_to_currency @produto.lucro %></div>
        </div>
        <div class="col-sm-6">
          <div class="rotulo">Rentabilidade</div>
          <div class="valor text-info"><%= number_to_percentage @produto.rentabilidade %></div>
        </div>
      </div>
    </div>

  </div>

</div>





