<%= page_header @produto.ref do %>
  <%= link_to icon(:chevron_left, "Voltar"), produtos_path, class: 'btn' %>
  <%= link_to icon(:edit, 'Editar Produto'), edit_produto_path(@produto), class: 'btn btn-primary btn-sm' %>
<% end %>


<div class="row">

  <div class="col-sm-6">
    <div class="well well-sm">

      <dl class="dl-horizontal form">

        <dt>Coleção</dt>
        <dd><%= @produto.colecao.try :descricao %></dd>

        <dt>Fornecedor</dt>
        <dd><%= @produto.fornecedor.try :nome %></dd>

        <dt>Linha</dt>
        <dd><%= @produto.linha.try :descricao %></dd>

        <dt>Tipo</dt>
        <dd><%= @produto.tipo.try :descricao %></dd>

      </dl>

    </div>
  </div>

  <div class="col-sm-6">

    <div class="well well-sm valores">
      <div class="row">
        <div class="col-sm-6">
          <div class="rotulo">Valor de Venda</div>
          <div class="valor text-success"><%= number_to_currency @produto.valor %></div>
        </div>
        <div class="col-sm-6">
          <div class="rotulo">Custo</div>
          <div class="valor text-danger"><%= number_to_currency @produto.custo %></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="rotulo">Lucro</div>
          <div class="valor text-info"><%= number_to_currency @produto.lucro %></div>
        </div>
        <div class="col-sm-6">
          <div class="rotulo">Rentabilidade</div>
          <div class="valor text-info"><%= number_to_percentage @produto.rentabilidade %></div>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="row">

  <div class="col-sm-6">

    <div class="panel panel-info">
      <div class="panel-heading">
        <b>Etiquetas</b>
        <%= button_tag icon(:plus, 'Incluir Etiquetas'), class: 'btn btn-xs btn-default pull-right', id: 'add_etiqueta' %>
        <%= button_tag icon(:chevron_up, 'Terminei de incluir'), class: 'btn btn-xs btn-default pull-right', id: 'end_add_etiqueta', style: "display: none;"%>
      </div>

      <div class="panel-body" id='add_etiqueta_form' style="display: none;">
        <%= simple_form_for [@produto, Etiqueta.new], remote: true do |f| %>

          <div class="row">

            <div class="col-sm-5">
              <%= f.association :cor, label_method: :nome %>
            </div>
            <div class="col-sm-4">
              <%= f.association :tamanho, label_method: :nome %>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="quant_etiq">Quantidade</label>
                <input type="text" class="form-control" id="quant_etiq" name='quantidade' value=1>
              </div>
            </div>

          </div>

          <div class="panel-actions pull-right">
            <%= f.submit 'Salvar', class: 'btn btn-xs btn-primary' %>
          </div>

        <% end -%>
      </div>

      <table class="table">
        <tbody id='t_etiquetas'>
          <%= render partial: 'etiquetas/etiqueta', collection: @produto.etiquetas %>
        </tbody>
      </table>

      <div class="panel-footer text-right">
        <b id="t_etiquetas_count"><%= @produto.etiquetas.count %></b> etiquetas
      </div>
    </div>

  </div>

  <div class="col-sm-6">
    <%= render partial: 'produtos/itens/index' %>
  </div>
</div>
