<%= page_header @colecao.descricao, 'Coleção' do %>
  <%= link_to icon(:chevron_left, "Voltar"), colecoes_path, class: 'btn' %>
  <%= link_to icon(:edit, 'Editar Coleção'), edit_colecao_path(@colecao), class: 'btn btn-primary' %>
<% end %>

<div class="row">

  <div class="col-sm-12 col-md-6">

    <div class="well stats">
      <div class="row">
        <div class="col-md-6 text-danger">
          <h1> <%= @resultado.total.quantidade_comprados %></h1>
          <small>PEÇAS COMPRADAS</small>
        </div>
        <div class="col-md-6 text-success">
          <h1> <%= @resultado.total.quantidade_vendidos %></h1>
          <small>PEÇAS VENDIDAS</small>
        </div>
      </div>

    </div>

    <div class="progress">
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= @resultado.total.porcent_vendidos %>%">
      </div>
    </div>

  </div>

  <div class="col-sm-12 col-md-6">
    <div class="well stats">
      <div class="row">
        <div class="col-md-6 text-danger">
          <h1> <%= number_to_currency @resultado.total.despesas %></h1>
          <small>TOTAL DESPESAS</small>
        </div>
        <div class="col-md-6 text-success">
          <h1> <%= number_to_currency @resultado.total.receitas %></h1>
          <small>TOTAL RECEITAS</small>
        </div>
      </div>
    </div>

    <div class="progress">
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= @resultado.total.porcent_receitas %>%">
      </div>
    </div>

  </div>

</div>

<hr/>

<div class="row">

  <div class="col-sm-12 col-md-6">

    <% @resultado.por_fornecedor.each do |f| %>
    <h3><%= f.fornecedor.nome %></h3>
    <div class="well stats">

      <div class="row">
        <div class="col-md-6 text-danger">
          <h1> <%= f.quantidade_comprados %></h1>
          <small>PEÇAS COMPRADAS</small>
        </div>
        <div class="col-md-6 text-success">
          <h1> <%= f.quantidade_vendidos %></h1>
          <small>PEÇAS VENDIDAS</small>
        </div>
      </div>
      <br/>

      <ul class="list-group">
        <% f.vendas_por_tipo.each do |tipo, itens| %>
        <li class="list-group-item">
          <span class="badge"> <%= itens.size %> </span>
          <%= tipo.descricao %>
        </li>
        <% end %>
      </ul>
    </div>

    <div class="progress">
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= f.porcent_vendidos %>%">
      </div>
    </div>
    <br/>

    <% end %>
  </div>

</div>
