<%= page_header "Diário Financeiro" do %>

  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Incluir Registro <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><%= link_to icon(:plus, 'Receita'), new_registro_path(cd: 'C'), class: 'text-success', data: { behavior: 'load-modal'} %></li>
      <li><%= link_to icon(:minus, 'Despesa'), new_registro_path(cd: 'D'), class: 'text-danger', data: { behavior: 'load-modal'} %></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Transferência</a></li>
    </ul>
  </div>


<% end %>

<h2 style="text-align: center">
  <%= link_to icon(:chevron_left), registros_path(mes: @cal.last_month) %>
  <%= @cal.month %>
  <%= link_to icon(:chevron_right), registros_path(mes: @cal.next_month) %>
</h2>

<hr/>

<div class="row">

<% Conta.all.each do |conta| %>

  <div class="col-sm-12 col-md-6">

    <div class="panel panel-info">
      <div class="panel-heading">
        <b class="panel-title"> <%= conta.nome %> </b>
      </div>
      <table class="table table-striped">
        <tbody id="registros_conta_caixa">
          <%= render partial: 'registro', collection: conta.registros.pagos %>
        </tbody>
      </table>
      <div class="panel-footer text-right">
        <small>Saldo</small> <%= number_to_currency conta.saldo %>
      </div>
    </div>

  </div>

<% end %>

</div>

<hr/>

<div class="row">

  <div class="col-sm-12 col-md-6">

    <div class="panel panel-danger">
      <div class="panel-heading">
        <b class="panel-title">CONTAS A PAGAR</b>
      </div>
      <table class="table table-striped">
        <tbody id="registros_conta_caixa">
          <%= render partial: 'pendente', collection: Registro.a_pagar, as: :registro %>
        </tbody>
      </table>
      <div class="panel-footer text-right">
        <small>Total</small> <%= number_to_currency Registro.a_pagar.sum(:valor) %>
      </div>
    </div>

  </div>

  <div class="col-sm-12 col-md-6">

    <div class="panel panel-success">
      <div class="panel-heading">
        <b class="panel-title">CONTAS A RECEBER</b>
      </div>
      <table class="table table-striped">
        <tbody id="registros_conta_caixa">
          <%= render partial: 'pendente', collection: Registro.a_receber, as: :registro %>
        </tbody>
      </table>
      <div class="panel-footer text-right">
        <small>Total</small> <%= number_to_currency Registro.a_receber.sum(:valor) %>
      </div>
    </div>

  </div>

</div>

<hr/>

<%= column_chart Registro.saldos %>
