<%= page_header "Diário Financeiro" do %>
  <%= button_tag icon(:plus, 'Novo Registro'), class: 'btn btn-primary btn-sm', data: { toggle: 'modal', target: '#modal_new_registro' } %>
<% end %>

<div class="row">

<% Conta.all.each do |conta| %>

  <div class="col-sm-12 col-md-6 col-lg-4">

    <div class="panel panel-info">
      <div class="panel-heading">
        <b class="panel-title"> <%= conta.nome %> </b>
      </div>
      <table class="table table-striped">
        <tbody id="registros_conta_caixa">
          <%= render partial: 'registro', collection: conta.registros.pagos %>
        </tbody>
      </table>
      <div class="panel-footer text-right">
        <small>Saldo</small> <%= number_to_currency conta.saldo %>
      </div>
    </div>

  </div>

<% end %>

</div>

<hr/>

<div class="row">

  <div class="col-sm-12 col-md-6">

    <div class="panel panel-danger">
      <div class="panel-heading">
        <b class="panel-title">CONTAS A PAGAR</b>
      </div>
      <table class="table table-striped">
        <tbody id="registros_conta_caixa">
          <%= render partial: 'pendente', collection: Registro.a_pagar, as: :registro %>
        </tbody>
      </table>
    </div>

  </div>

  <div class="col-sm-12 col-md-6">

    <div class="panel panel-success">
      <div class="panel-heading">
        <b class="panel-title">CONTAS A RECEBER</b>
      </div>
      <table class="table table-striped">
        <tbody id="registros_conta_caixa">
          <%= render partial: 'pendente', collection: Registro.a_receber, as: :registro %>
        </tbody>
      </table>
    </div>

  </div>

</div>
